@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


 /* Divi Section   */

 .divi-section{
     background-color: linear-gradient(#4500CA 4%, rgba(69, 0, 202, 0) 50%), url("assets/divi-gallery-hero-background.jpg"), linear-gradient(60deg, #28005f 16%, #8300e5 64%, #0f3bff 100%);
     background-image: url("assets/divi-gallery-hero-background.jpg");
     background-position: bottom;
     background-repeat: no-repeat;
     font-family: lato;
     height: 59vh;
    background-size: cover;
    color: white;
    padding: 10vw 0 19vw 8vw ;
    transform-origin: 50% 85%;
 }
 .divi-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 600px;
    justify-content: left;
}

.divi-text h1 {
    font-size: 10vw;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: .2em;
    margin: 0; 
}
.divi-text h2{
    font-size: 1.5em;

}

.trustpilot {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.trustpilot span {
    margin: 0 5px;
    font-size: 16px;
}

.trustpilot .stars {
    color: #4CAF50;
}

.trustpilot .trustpilot-logo {
    color: #4CAF50;
    font-weight: bold;
}

.divi-button{
    background-color: #b142ec;
    color: #fff;
    text-decoration: none;
    font-family: lato;
    font-weight: 700;
    display: block;
    max-width: 100px;
    width: 20%;
    margin: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s;
}
.divi-button:hover{
    transform: scale(1.05);
}


.video-btn {
    margin-left: 70%;
    display: flex;
    transition: transform 0.3s;
    overflow-x: hidden;
} 


.video-circle{
  width: 100px;
  margin: 0;
  padding: 0;
}

.video-btn button {

    margin: 0;
    padding-left: 80%;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 3em;
    cursor: pointer;
    align-items: center;
    /* background: linear-gradient(120deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .2)); */
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 24px 72px 0 rgba(0, 0, 0, .5);
    display: flexbox;
    height: 164px;
    justify-content: center;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    width: 164px;
} 

.video-btn:hover{
    transform: scale(1.05);
    overflow: hidden;
}

@media (max-width: 400px) {
    .divi-section {
        padding: 1rem;
        height: 120%;
       
    }   
    .divi-text {
        font-size: 1em;
    }
    .divi-text h1{
        font-size: 10vh;
        padding: 2rem;
    }

    .divi-text h2 {
        font-size: 5vh;
    }

    .divi-button {
        font-size: 1em;
        padding: 1rem ;
        width: 30%;
    }
    .trustpilot {
        flex-direction: column;
        padding: 0;
        margin: 0;
        line-height: 2rem;
    }
    .trustpilot span{
        font-size: 1.5em
    }
    .trustpilot .trustpilot-logo{
        display: none;
    }
    .video-btn button {
        /* font-size: 1.2em; */
        display: none;
    }
}

 /* ***************************************************XXXX************************************ */
  
 /* Build Visually */

 .build-visually {
    margin-top: 4rem;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-content: center;
    font-family: lato;
    /* line-height: 5rem; */
    color: #333;
    justify-content: center;
    align-items: center;
}

.build-title {
  
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 0;
    background-image: -webkit-linear-gradient(120deg, #b142ec, #812bea);
    color: #8f42ec;
}
.build-visually h1{
    font-size: 6vw;
    padding: 0;
    /* margin-top: 7rem; */
    font-weight: 900;
}

.trustpilot {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
    font-size: 1.2em;
    color: #4CAF50;
}

/* .trustpilot .stars {
    margin-right: 10px;
} */


.build-visually h3 {
    margin: 0;
    color: #20292f;
    font-family: lato;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
        /* line-height: 3rem; */
    /* line-height: 1.2em; */
    /* margin-bottom: .2em; */
}

.build-visually p {
    margin: 0;
    font-size: 1.2em ;
    line-height: 2rem;
    max-width: 850px;
    color: #6d7c90;
    /* height: auto; */
    text-align: center;
    align-content: center;
   align-items: center;
    justify-content: center;
    padding-left: 20%;
    width: 100%;
    margin-top: 5rem;
} 

.build-button {
    color: white;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    background-color: #b142ec;
    transition: transform 0.2s;
}

.build-button:hover {
    opacity: 0.9;
     background: linear-gradient(45deg, #8334d1, #cf36a8);
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .build-visually h1 {
        font-size: 2em;
    }

    .build-visually h3 {
        font-size: 1.2em;
    }

    .demo-btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .build-visually h1 {
        font-size: 1.8em;
    }

    .build-visually h3 {
        font-size: 1em;
    }

    .demo-btn {
        font-size: 0.9em;
        padding: 8px 15px;
    }
}

/* ************************************************* XXXXXX******************************** */

 /* Build Visually   Additonal content  */



.additional-content {
    margin-top: 90px;
    text-align: left;
    font-family: lato;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 7px;
    margin: 10px;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0 10px 70px 0 rgba(103, 151, 255, .22), 0 15px 105px 0 rgba(103, 151, 255, .22);
    transition: transform 0.3s;
}
.box p{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.4em;
    padding: 16px;
    text-transform: uppercase;
}
.left-col .box:hover , .right-col .box:hover {
    transform: scale(1.05);
}

.left-col , .right-col{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 20px 40px;
    justify-content: space-around;
    width: 25%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    
    
}

.center video {
    width: 80%;
    height: auto;
    background: linear-gradient(120deg, #e8ebee, #c7ccd3);
    max-width: 100%;
    border-radius: 10px;
    background-color: #000;
    max-width: 100%;
    clip: video;
}

.left-col , .right-col  {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.left-col div span, .right-col div span {
    font-size: 2em;
    margin-right: 10px;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .left-col, .right-col, .center {
        width: 100%;
        margin-bottom: 20px;
    }

    .left-col div, .right-col div {
        justify-content: center;
    }
    .row{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .additional-content h1, .additional-content h3 {
        font-size: 1.2em;
    }

    .additional-content p {
        font-size: 1em;
    }
    .center{
        width: 100%;
    }
    .left-col , .right-col{
        display: flex;
    }
}

/* ******************************************* XXXXX **************************************** */
  
/* Customization Section  */

.customization-container{
    font-family: lato;
   justify-content: center;
    padding: 40px;
}
.column-container{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.head1{
    /* background-image: -webkit-linear-gradient(120deg, #ffa52b, #ff6b12); */
    color: #ff7b2b;
    font-size: 4vw;
    text-align: center;
    font-weight: 000;
}
.head2{
justify-content: center;
}
.custom-button{
    background-color: #b142ec;
    color: #fff;
    text-decoration: none;
    font-family: lato;
    font-weight: 700;
    display: block;
    max-width: 100px;
    width: 70%;
    margin: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s;
}
.custom-button:hover{
    transform: scale(1.05);
}


/* ******************************************* XXXXX **************************************** */
/* ************************************************ XXXX ******************************************* */

/* hover state  */

.repo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-family: Lato;
}

.repo-text-section {
    flex: 1;
    min-width: 450px;
    padding:  2rem 0 0 9rem;
}
.repo-text-section h3{
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #20292f;
}

.repo-text-section p {
    margin-bottom: 20px;
    color: #6d7c90;
    font-size: 1.2em;
    line-height: 1.75em;
    width: 100%;
}

.text-section button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.image-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.button1{
    /* background-color: #b142ec; */
    background-color: #3776ff;;
    color: #fff;
    text-decoration: none;
    font-family: lato;
    display: block;
    max-width: 100px;
    width: 20%;
    margin: 10px;
    padding: 12px 32px;
    border: none;
    font-weight: 900;
    border-radius: 5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: transform 0.2s;
    display: inline;
}
.button2 i{
    font-size: 16px;
    font-weight: 900;
    padding-right:1rem ;
    padding-top: 2rem;
}

.button2 {
    background-color:#37a8ff;
    color: #fff;
    text-decoration: none;
    font-family: lato;
    display: block;
    max-width: 100px;
    width: 20%;
    margin: 10px;
    padding: 12px 32px;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: transform 0.2s;
    display: inline;
}
.button1:hover , .button2:hover{
    transform: scale(1.05); 
}

/* Responsive  Design */
@media (max-width: 768px) {
    .state-container {
        flex-direction: column;
    }
}

/* ************************************************ XXXX ******************************************* */
   
    .future{
        display: flex;
        background-color: #f4f4f4;
        text-align: center;
        font-family: lato;
        margin: 0 auto;
        padding: 20px;
        font-family: ;
        background-color: #f8f9fc;
    }
    .f-container {
        background-color: #fff;
        padding: 4rem 7rem;
        box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
        text-align: center;
        overflow-x: hidden;
        margin: auto;
        max-width: 90%;
        position: relative;
        width: 1120px;
    }
    
    .main-heading {
        margin-bottom: 20px; 
        font-size: 1.8em;
        line-height: 1.25em;
    }
    
    .f-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .f-card {
        background-color: #fff;
        margin: 10px;
        width: 320px;
        overflow: hidden;
  
    }
    .f-card p{
        width: 90%;
        color: #6d7c90;
    }
    
    .card:hover {
        transform: translateY(-5px);
    }
    
    .icon {
        font-size: 2em;
        margin-bottom: 10px;
    }
    
    .f-card h3 {
        font-size: 1.1em;
        line-height: 1.4em;
    }
    
    .f-card p {
        color: #666;
        justify-content: center;
        font-size: 1.2rem;
        width: 95%;
        line-height: 1.6rem;
    }  
                
    /* **************************************** XXXXX *************************************** */

    .container {
        width: 100%;
        max-width: 1200px;
        text-align: center;
    }
    
    .for-everyone {
        background: radial-gradient(circle at top left, #4a42ec 0, #521d91 100%);
    background-color: #521d91;
    box-shadow: 0 48px 48px -32px rgba(23, 16, 159, .2), 0 96px 96px -64px rgba(23, 16, 159, .4);
    margin-bottom: 64px;
        /* background: linear-gradient(45deg, #3b2ab6, #cf36a8); */
        color: white;
        border-radius: 10px;
        padding: 70px 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .for-everyone h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    
    .for-everyone-cards {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .fe-card {
        /* background: #6240b7;  */
        border-radius: 10px;
        padding: 10px;
        width: 20%;
        margin: 10px;
        /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    }
    
    .fe-card h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    
    .fe-card p {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    @media (max-width: 768px) {
        .fe-card {
            width: 45%;
            flex-direction: row;
        }
    }
    
    @media (max-width: 480px) {
        .fe-card {
            width: 90%;
        }
    
        .for-everyone h2 {
            font-size: 2em;
        }
    }

    /* *******************************************  XXXX **************************************** */
                     
/*  200+ Full Website Packs Section   */

.container {
    margin: 0 auto;
    padding: 20px;
    font-family: lato;
    background-color: #f8f9fc;
    text-align: center;
    overflow-x: hidden;
}
.conatiner h2{
    font-size: 1.8em;
    font-family: lato;
    line-height: 1.25em;
}
.head {
    color: #ff4c00;
    /* color: #ff5b00; */
    /* font-size: 2em;
    margin-bottom: 10px; */
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2em;
}
.subheader p {
    font-size: 1.3em;
    line-height: 1.6rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2rem 6rem;
    color: #6d7c90;
   
}
.subheader a{
    color:#ff4c00;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}
.subheader a:hover{
    color: rgb(54, 102, 214);
}
.button-group {
    margin-bottom: 30px;
    background-color: white;
    padding: 1rem;
}
.button-group button {
    background-color: #fff;
    border-radius: 2rem;
    padding: 17px 26px;
    border: none;
    background-color: #f2f4f5;
    color: #6d7c90;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}
.button-group button.active{
    background-color: #ff5b00;
    color: white;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
} 